/*  your css code here. If applicable */
.cards
{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: self-end;
}

img
{
	max-width: 250px;
	margin: 10px;
	border: 3px solid #000;
	box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}