.cards {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
}

img {
  max-width: 25%;
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}
